.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.my-list
{
    max-height: 250px;
    overflow-y: auto;
}

.my-short-list
{
    max-height: 170px;
    overflow-y: auto;
}
