<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Lista de categorias</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">Categorias</li>
        </ol>
    </div>
    <div class="row">
        <div class="form-group">

            <div class="col-md-offset-10 col-sm-offset-9 col-xs-offset-9">
                <a class=" btn btn-primary" href="#/categories/new" >Nueva Categoria</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="infoDeleted" class="col-sm-12" ng-show="categoryGetAllCtrl.isDeleted" >
            <p class="bg-info text-center "><i class="fa fa-info-circle"> {{categoryGetAllCtrl.message}} </i> </p>
        </div>

            <table class="table table-striped table-condensed table-hover"
                   st-table="categoryGetAllCtrl.displayedCollection" st-safe-src="categoryGetAllCtrl.rowCollection">
                <thead>
                <tr>
                    <th st-sort="nombre">Nombre</th>
                    <th st-sort="productos">Productos</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="nombre" placeholder="nombre categoria" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <div class="col-sm-12" ng-show="categoryGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

                    <tr ng-repeat="row in categoryGetAllCtrl.displayedCollection">

                        <td>{{ row.nombre }}</td>
                        <td>{{row.productos.length}}</td>
                        <td>
                            <a ng-href="#/category/show/{{row.id}}" >
                                <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a ng-href="#/category/edit/{{row.id}}" >
                                <span class="col-md-1 glyphicon glyphicon-edit"></span>
                            </a>
                            <a href ng-click="categoryGetAllCtrl.remove(row,row.id)">
                                <span class="col-md-1 glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="categoryGetAllCtrl.itemPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
