<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">{{categoryCreateCtrl.title}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/categories">Categorias</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="categoryCreateCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{categoryCreateCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="categoryCreateCtrl.showError">
            <p class="bg-danger text-center text-danger">{{categoryCreateCtrl.message}}</p>
        </div>

        <div class="col-md-12">
            <form role="form" class="form-horizontal" name="newProduct" ng-submit="categoryCreateCtrl.submit()">

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="categoria" data-toggle="tooltip" data-placement="bottom" title="Nombre de la categoria" required ng-model="categoryCreateCtrl.category.nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Familia</label>
                    <div class="col-sm-4">
                        <select class="form-control"
                                ng-model="categoryCreateCtrl.myFamily"
                                ng-options="family.nombre for family in categoryCreateCtrl.families"  >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-10 col-md-offset-10">

                        <button type="reset" class="btn btn-default ">
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                            Limpiar
                        </button>

                        <button type="submit" class="btn btn-primary">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                            Enviar
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div back-button></div>
</div>




