<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">{{categoryGetIdCtrl.title}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/categories">Categorias</a></li>
            <li class="active">{{categoryGetIdCtrl.name}}</li>
        </ol>
    </div>
    <div class="row">
        <div class=" list-group col-md-4" >

            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Nombre: </dt>
                    <dd>{{categoryGetIdCtrl.category.nombre}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Familia: </dt>
                    <dd>{{categoryGetIdCtrl.category.nomFamilia}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Productos: </dt>
                    <dd>{{categoryGetIdCtrl.category.productos.length}} </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Productos asociados</h3>
                </div>
            </div>


            <table class="table table-striped table-condensed table-hover"
                   st-table="categoryGetIdCtrl.displayedCollection" st-safe-src="categoryGetIdCtrl.rowCollection">
                <thead>
                <tr>
                    <th st-sort="ref" >Referencia</th>
                    <th st-sort="nombre">Nombre</th>
                    <th st-sort="pvp">Precio</th>
                    <th st-sort="stock">Stock</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="ref" placeholder="referencia" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="nombre" placeholder="nombre del producto" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="pvp" placeholder="precio de venta" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="stock" placeholder="stock de producto" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <div class="col-sm-12" ng-show="categoryGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

                <tr ng-repeat="row in categoryGetIdCtrl.displayedCollection">
                    <td>{{ row.ref }}</td>
                    <td>{{ row.nombre }}</td>
                    <td>{{ row.pvp }}</td>
                    <td>{{ row.stock }}</td>
                    <td>
                        <a ng-href="#/product/show/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a ng-href="#/product/edit/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="categoryGetIdCtrl.itemPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>


    </div>

    <div back-button></div>

</div>
