<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Tipos de IVA</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">iva</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12" ng-show="ivaGetAllCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{ivaGetAllCtrl.message}} </i> </p>
        </div>
        <div class="col-md-12" ng-show="ivaGetAllCtrl.showError">
            <p class="bg-danger text-center text-danger">{{ivaGetAllCtrl.message}}</p>
        </div>
        <table class="table table-striped table-condensed table-hover"
               st-table="ivaGetAllCtrl.displayedCollection" st-safe-src="ivaGetAllCtrl.rowCollection">
            <thead>
            <tr>
                <th st-sort="tipos_iva" >Tipos</th>
                <th st-sort="porcentaje">Porcentaje</th>
                <th>Accion</th>
            </tr>
            </thead>
            <tbody>
            <div class="col-sm-12" ng-show="ivaGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

            <tr ng-repeat="row in ivaGetAllCtrl.displayedCollection">

                <td>
                    {{ row.tipos_iva }}
                </td>
                <td>
                    <span editable-text="row.porcentaje" onbeforesave="ivaGetAllCtrl.checkPercentaje($data)"
                           e-type="number" e-step="0.01" e-name="porcentaje" e-form="rowform" e-required>
                        <span ng-show="!rowform.$visible">
                            {{row.porcentaje || 'empty'}}
                        </span>
                    </span>
                </td>

                <td>
                    <form editable-form name="rowform"  ng-show="rowform.$visible"   onaftersave="ivaGetAllCtrl.modify(row.id,$data)"
                          class="form-buttons form-inline" shown="inserted == row.porcentaje">

                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                            <i class="fa fa-check "></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-primary">
                            <i class="fa fa-times "></i>
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <a href ng-click="rowform.$show()" class="btn btn-default" >
                            <i class=" fa fa-pencil-square-o"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="ivaGetAllCtrl.itemPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>