<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Editar cliente</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/clients">Cliente</a></li>

            <li class="active">{{clientEditCtrl.client.nombre}}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-show="clientEditCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{clientEditCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="clientEditCtrl.showError">
            <p class="bg-danger text-center text-danger">{{clientEditCtrl.message}}</p>
        </div>
    </div>

    <div class="col-md-12">
        <form role="form" class="form-horizontal" name="newProduct" ng-submit="clientEditCtrl.submit()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="paco, jose, Empresa S.L, ..."
                           ng-model="clientEditCtrl.client.nombre"
                           data-toggle="tooltip" data-placement="bottom" title="Nombre del cliente" required >
                </div>
            </div>

            <span ng-if="clientEditCtrl.clientType === 'person'" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="garcia, mula, ..." data-toggle="tooltip"
                               ng-model="clientEditCtrl.concreteClient.apellido"
                               data-placement="bottom" title="Primer apellido del cliente" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">2º Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="mendez, martinez, ..."
                               ng-model="clientEditCtrl.concreteClient.apellido2"
                               data-toggle="tooltip" data-placement="bottom" title="Segundo apellido del cliente"  >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">DNI/NIF</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="12345678K, ..."
                               ng-model="clientEditCtrl.concreteClient.dni"
                               data-toggle="tooltip" data-placement="bottom" title="Numero de dni" required >
                    </div>
                </div>
            </span>

            <span ng-if="clientEditCtrl.clientType === 'company'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">CIF</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="K12345678, ..."
                               ng-model="clientEditCtrl.concreteClient.cif"
                               data-toggle="tooltip" data-placement="bottom" title="CIF de la empresa" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Razon social</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="venta de calzado, ..."
                               ng-model="clientEditCtrl.concreteClient.razon_social"
                               data-toggle="tooltip" data-placement="bottom" title="razon social de la empresa" required >
                    </div>
                </div>
            </span>

            <div class="form-group">
                <label class="col-sm-2 control-label">Pseudonimo</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="el del bar, vecino, ..."
                           ng-model="clientEditCtrl.client.pseudonimo"
                           data-toggle="tooltip" data-placement="bottom" title="Pseudonimo del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="calle falsa 1 2 3, ..."
                           ng-model="clientEditCtrl.client.direccion"
                           data-toggle="tooltip" data-placement="bottom" title="Direccion del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Telefono</label>
                <div class="col-sm-4">
                    <input type="tel" class="form-control" placeholder="+34 987 234 123, 993 234 123, ..."
                           ng-model="clientEditCtrl.client.telefono"
                           data-toggle="tooltip" data-placement="bottom" title="telefonos de contacto del cliente" require>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Movil</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="+35 662 254 125, 632458123, ..."
                           ng-model="clientEditCtrl.client.movil"
                           data-toggle="tooltip" data-placement="bottom" title="movil de contacto del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="a@mail.com, b@empresa.com, ..."
                           ng-model="clientEditCtrl.client.email"
                           data-toggle="tooltip" data-placement="bottom" title="email de contacto del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" >Observaciones</label>
                <div class="input-group col-sm-4">
                        <textarea class="form-control" rows="5" id="wysiwig_simple"
                                  ng-model="clientEditCtrl.client.observaciones";
                                  placeholder="Observacion para el cliente"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">

                    <button type="reset" class="btn btn-default ">
                        <span><i class="glyphicon glyphicon-remove"></i></span>
                        Limpiar
                    </button>

                    <button type="submit" class="btn btn-primary">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                        Enviar
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div back-button></div>
</div>