<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Lista de clientes</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">Clientes</li>
        </ol>
    </div>
    <div class="row">

        <div class="col-md-4">
            <select name="clientType" class="form-control"
                    ng-change="clientGetAllCtrl.flushData()"
                    ng-model="clientGetAllCtrl.cType">
                <option value="company">Empresas</option>
                <option value="person">Particulares</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="clientGetAllCtrl.loadClients(clientGetAllCtrl.cType)">Buscar</button>
        <div class="pull-right">
            <a class=" btn btn-primary" href="#/clients/new" >Alta Cliente</a>
        </div>

    </div>
    <div class="row">

        <div id="infoDeleted" class="col-md-12"  ng-show="clientGetAllCtrl.isDeleted">
            <p class="bg-info text-center "><i class="fa fa-info-circle"> {{clientGetAllCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="clientGetAllCtrl.showError">
            <p class="bg-danger text-center text-danger">{{clientGetAllCtrl.message}}</p>
        </div>

        <table ng-if="clientGetAllCtrl.cType === 'person'" class="table table-striped table-condensed table-hover"
               st-table="clientGetAllCtrl.displayedCollection" st-safe-src="clientGetAllCtrl.rowCollection">
            <thead >
                <tr>
                    <th st-sort="dni" >dni/nif</th>
                    <th st-sort="cliente.nombre" >Nombre</th>
                    <th st-sort="apellido" >Apellido</th>
                    <th st-sort="cliente.pseudonimo" >Pseudonimo</th>
                    <th st-sort="cliente.direccion">Direccion</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="dni" placeholder="dni cliente" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="cliente.nombre" placeholder="nombre cliente" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="apellido" placeholder="apellido cliente" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="cliente.pseudonimo" placeholder="pseudonimo cliente" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="cliente.direccion" placeholder="direccion cliente" class="input-sm form-control" type="search"/>
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in clientGetAllCtrl.displayedCollection">
                    <td>{{ row.dni}}</td>
                    <td>{{ row.cliente.nombre }}</td>
                    <td>{{ row.apellido }}</td>
                    <td>{{ row.cliente.pseudonimo}}</td>
                    <td>{{ row.cliente.direccion }}</td>
                    <td>
                        <a ng-href="#/client/show/{{row.cliente.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a ng-href="#/client/edit/{{row.cliente.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-edit"></span>
                        </a>
                        <a href ng-click="clientGetAllCtrl.remove(row,row.cliente.id)">
                            <span class="col-md-1 glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <table ng-if="clientGetAllCtrl.cType === 'company'" class="table table-striped table-condensed table-hover"
               st-table="clientGetAllCtrl.displayedCollection" st-safe-src="clientGetAllCtrl.rowCollection">
            <thead >
            <tr>
                <th st-sort="cif" >cif</th>
                <th st-sort="cliente.nombre" >Nombre</th>
                <th st-sort="razon_social" >Razon social</th>
                <th st-sort="cliente.pseudonimo" >Pseudonimo</th>
                <th st-sort="cliente.direccion">Direccion</th>
                <th>Accion</th>
            </tr>
            <tr>
                <th>
                    <input st-search="cif" placeholder="dni cliente" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="cliente.nombre" placeholder="nombre cliente" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="razon_social" placeholder="apellido cliente" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="cliente.pseudonimo" placeholder="pseudonimo cliente" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="cliente.direccion" placeholder="direccion cliente" class="input-sm form-control" type="search"/>
                </th>


            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in clientGetAllCtrl.displayedCollection">
                <td>{{ row.cif}}</td>
                <td>{{ row.cliente.nombre }}</td>
                <td>{{ row.razon_social }}</td>
                <td>{{ row.cliente.pseudonimo}}</td>
                <td>{{ row.cliente.direccion }}</td>
                <td>
                    <a ng-href="#/client/show/{{row.cliente.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a ng-href="#/client/edit/{{row.cliente.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-edit"></span>
                    </a>
                    <a href ng-click="clientGetAllCtrl.remove(row,row.cliente.id)">
                        <span class="col-md-1 glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-12" ng-show="clientGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>
    </div>
</div>