<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Alta de cliente</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/clients">Clientes</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="clientCreateCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{clientCreateCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="clientCreateCtrl.showError">
            <p class="bg-danger text-center text-danger">{{clientCreateCtrl.message}}</p>
        </div>
    </div>
    <div class="col-md-12">
        <form role="form" class="form-horizontal" name="newProduct" ng-submit="clientCreateCtrl.submit()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo de Cliente</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="clientCreateCtrl.clientType">
                        <option value="company">Empresa</option>
                        <option value="person">Particular</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="paco, jose, Empresa S.L, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.nombre"
                           title="Nombre del cliente" required >
                </div>
            </div>

            <span ng-if="clientCreateCtrl.clientType === 'person'" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="garcia, mula, ..."
                               data-toggle="tooltip" data-placement="bottom"
                               ng-model="clientCreateCtrl.concreteClient.apellido"
                               title="Primer apellido del cliente" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">2º Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="mendez, martinez, ..."
                               data-toggle="tooltip" data-placement="bottom"
                               ng-model="clientCreateCtrl.concreteClient.apellido2"
                               title="Segundo apellido del cliente"  >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">DNI/NIF</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="12345678K, ..."
                               data-toggle="tooltip" data-placement="bottom"
                               ng-model="clientCreateCtrl.concreteClient.dni"
                               title="Numero de dni" required >
                    </div>
                </div>
            </span>

            <span ng-if="clientCreateCtrl.clientType === 'company'">
                <div class="form-group">
                    <label class="col-sm-2 control-label">CIF</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="K12345678, ..."
                               data-toggle="tooltip" data-placement="bottom"
                               ng-model="clientCreateCtrl.concreteClient.cif"
                               title="CIF de la empresa" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Razon social</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="venta de calzado, ..."
                               data-toggle="tooltip" data-placement="bottom"
                               ng-model="clientCreateCtrl.concreteClient.razon_social"
                               title="razon social de la empresa" required >
                    </div>
                </div>
            </span>

            <div class="form-group">
                <label class="col-sm-2 control-label">Pseudonimo</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="el del bar, vecino, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.pseudonimo"
                           title="Pseudonimo del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="calle falsa 1 2 3, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.direccion"
                           title="Direccion del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Telefono</label>
                <div class="col-sm-4">
                    <input type="tel" class="form-control" placeholder="+34 987 234 123, 993 234 123, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.telefono"
                           title="telefonos de contacto del cliente" require>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Movil</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="+35 662 254 125, 632458123, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.movil"
                           title="movil de contacto del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="a@mail.com, b@empresa.com, ..."
                           data-toggle="tooltip" data-placement="bottom"
                           ng-model="clientCreateCtrl.client.email"
                           title="email de contacto del cliente" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" >Observaciones</label>
                <div class="input-group col-sm-4">
                        <textarea class="form-control" rows="5" id="wysiwig_simple"
                                  ng-model="clientCreateCtrl.client.observaciones"
                                  placeholder="Observacion para el cliente"
                                  ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">

                    <button type="button" class="btn btn-default "
                            ng-click="clientCreateCtrl.flushData()">
                        <span><i class="glyphicon glyphicon-remove"></i></span>
                        Limpiar
                    </button>

                    <button type="submit" class="btn btn-primary">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                        Enviar
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div back-button></div>
</div>