<div class="container-fluid">
    <div class="row">
        <!-- TODO MODIFICAR PARA QUE PONGA EL NOMBRE-->
        <h2 class="page-header">Cliente {{clientGetIdCtrl.client.nombre}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/clients">Clientes</a></li>
            <!-- TODO MODIFICAR, CAMBIAR POR CONTROLADOR-->
            <li class="active">{{clientGetIdCtrl.client.nombre}}</li>
        </ol>
    </div>
    <div class="row">
        <ul class="list-group col-md-offset-3 col-md-6" >
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Nombre: </dt>
                    <dd>{{clientGetIdCtrl.client.nombre}}</dd>
                </dl>
            </li>
            <div ng-if="clientGetIdCtrl.clientType === 'company'">
                <li class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>CIF: </dt>
                        <dd>{{clientGetIdCtrl.client.empresa.cif}}</dd>
                    </dl>
                </li>
                <li class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>Razon social: </dt>
                        <dd>{{clientGetIdCtrl.client.empresa.razon_social}}</dd>
                    </dl>
                </li>
            </div>
            <div ng-if="clientGetIdCtrl.clientType === 'person'">
                <li class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>Apellido: </dt>
                        <dd>{{clientGetIdCtrl.client.persona.apellido}}</dd>
                    </dl>
                </li>
                <li class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>2º apellido: </dt>
                        <dd>{{clientGetIdCtrl.client.persona.apellido2}}</dd>
                    </dl>
                </li>
                <li class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>DNI/NIF: </dt>
                        <dd>{{clientGetIdCtrl.client.persona.dni}}</dd>
                    </dl>
                </li>
            </div>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Pseudonimo: </dt>
                    <dd>{{clientGetIdCtrl.client.pseudonimo}}</dd>
                </dl>
            </li>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Direccion: </dt>
                    <dd>{{clientGetIdCtrl.client.direccion}}</dd>
                </dl>
            </li>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Telefono: </dt>
                    <dd>{{clientGetIdCtrl.client.telefono}}</dd>
                </dl>
            </li>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Movil: </dt>
                    <dd>{{clientGetIdCtrl.client.movil}}</dd>
                </dl>
            </li>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Email: </dt>
                    <dd>{{clientGetIdCtrl.client.email}}</dd>
                </dl>
            </li>
            <li class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Observaciones: </dt>
                    <dd>{{clientGetIdCtrl.client.observaciones}}</dd>
                </dl>
            </li>

        </ul>
    </div>
    <div back-button></div>
</div>