<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Lista de proveedores</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">Proveedores</li>
        </ol>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-10 col-sm-offset-9 col-xs-offset-9">
                <a class=" btn btn-primary" href="#/supliers/new" >Alta Proveedor</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="infoDeleted" class="col-md-12"  ng-show="suplierGetAllCtrl.isDeleted">
            <p class="bg-info text-center "><i class="fa fa-info-circle"> {{suplierGetAllCtrl.message}} </i> </p>
        </div>

        <table class="table table-striped table-condensed table-hover"
               st-table="suplierGetAllCtrl.displayedCollection" st-safe-src="suplierGetAllCtrl.rowCollection">
            <thead>
            <tr>
                <th st-sort="nombre" >Nombre</th>
                <th st-sort="direccion">Direccion</th>
                <th st-sort="valoracion">Valoracion</th>
                <th>Accion</th>
            </tr>
            <tr>
                <th>
                    <input st-search="nombre" placeholder="nombre proveedor" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="direccion" placeholder="direccion proveedor" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="valoracion" placeholder="valoracion" class="input-sm form-control" type="search"/>
                </th>

            </tr>
            </thead>
            <tbody>
            <div class="col-sm-12" ng-show="categoryGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

            <tr ng-repeat="row in suplierGetAllCtrl.displayedCollection">
                <td>{{ row.nombre }}</td>
                <td>{{ row.direccion }}</td>
                <td>{{ row.valoracion }}</td>
                <td>
                    <a ng-href="#/suplier/show/{{row.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a ng-href="#/suplier/edit/{{row.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-edit"></span>
                    </a>
                    <a href ng-click="suplierGetAllCtrl.remove(row,row.id)">
                        <span class="col-md-1 glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="suplierGetAllCtrl.itemPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>


    </div>


</div>