<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Alto de proveedor</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/supliers">Proveedores</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="suplierCreateCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{suplierCreateCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="suplierCreateCtrl.showError">
            <p class="bg-danger text-center text-danger">{{suplierCreateCtrl.message}}</p>
        </div>

        <div class="col-md-12">
            <form role="form" class="form-horizontal" name="newProduct" ng-submit="suplierCreateCtrl.submit()">

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Nombre</label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" placeholder="proveedor"
                               data-toggle="tooltip" data-placement="bottom" title="Nombre del proveedor"
                               required ng-model="suplierCreateCtrl.suplier.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Valoracion</label>
                    <div class="input-group col-sm-2">
                        <rzslider rz-slider-step="1" rz-slider-model="suplierCreateCtrl.suplier.valoration"
                                  rz-slider-ceil="9" rz-slider-floor="0"></rzslider>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Direccion</label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" placeholder="Ej: c/ falsa 123"
                               data-toggle="tooltip" data-placement="bottom" title="direccion del proveedor"
                               required ng-model="suplierCreateCtrl.suplier.location">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Notas</label>
                    <div class="input-group col-sm-4">
                        <textarea class="form-control" rows="5" id="wysiwig_simple" placeholder="Notas de proveedor"
                                  ng-model="suplierCreateCtrl.suplier.notes"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-repeat="phone in suplierCreateCtrl.suplier.phones track by $index">
                    <label class="col-sm-2 control-label">Telefono: </label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" placeholder="Ej: 966123456"
                               data-toggle="tooltip" data-placement="bottom" title="Numero de telefono"
                               required ng-model="suplierCreateCtrl.suplier.phones[$index]">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-type="plus" ng-click="suplierCreateCtrl.addPhone()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-type="plus" ng-click="suplierCreateCtrl.delPhone($index)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-repeat="email in suplierCreateCtrl.suplier.emails track by $index">
                    <label class="col-sm-2 control-label">Email: </label>
                    <div class="input-group col-sm-4">
                        <input type="email" class="form-control" placeholder="Ej: prov@email.com"
                               data-toggle="tooltip" data-placement="bottom" title="Email de contacto"
                               required ng-model="suplierCreateCtrl.suplier.emails[$index]">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-type="plus" ng-click="suplierCreateCtrl.addEmail()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-type="plus" ng-click="suplierCreateCtrl.delEmail($index)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-10 col-md-offset-10">

                        <button type="reset" class="btn btn-default ">
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                            Limpiar
                        </button>

                        <button type="submit" class="btn btn-primary">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                            Enviar
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div back-button></div>
</div>
