<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Proveedor {{suplierGetIdCtrl.name}} </h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/supliers">Proveedores</a></li>
            <li class="active">{{suplierGetIdCtrl.name}}</li>
        </ol>
    </div>
    <div class="row">
        <div class=" list-group col-md-5" >
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Nombre: </dt>
                    <dd>{{suplierGetIdCtrl.suplier.nombre}}</dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Direccion: </dt>
                    <dd>{{suplierGetIdCtrl.suplier.direccion}}</dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Valoracion: </dt>
                    <dd>{{suplierGetIdCtrl.suplier.valoracion}}</dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Notas: </dt>
                    <dd>{{suplierGetIdCtrl.suplier.notas}}</dd>
                </dl>
            </div>
            <div class="list-group-item" ng-repeat="phone in suplierGetIdCtrl.suplier.telefonos">
                <dl class="dl-horizontal">
                    <dt>Telefono {{$index+1}}: </dt>
                    <dd>{{phone.telefono}}</dd>
                </dl>
            </div>
            <div class="list-group-item" ng-repeat="email in suplierGetIdCtrl.suplier.emails">
                <dl class="dl-horizontal">
                    <dt>Email {{$index+1}}: </dt>
                    <dd>{{email.email}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Productos asociados</h3>
                </div>
            </div>


            <table class="table table-striped table-condensed table-hover"
                   st-table="suplierGetIdCtrl.displayedCollection" st-safe-src="suplierGetIdCtrl.rowCollection">
                <thead>
                <tr>
                    <th st-sort="ref" >Referencia</th>
                    <th st-sort="nombre">Nombre</th>
                    <th st-sort="pvp">Precio</th>
                    <th st-sort="stock">Stock</th>
                    <th st-sort="category.nombre">Categoria</th>
                    <th>Accion</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="ref" placeholder="referencia" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="nombre" placeholder="nombre del producto" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="pvp" placeholder="precio de venta" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="stock" placeholder="stock de producto" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="category.nombre" placeholder="categoria de producto" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <div class="col-sm-12" ng-show="suplierGetIdCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

                <tr ng-repeat="row in suplierGetIdCtrl.displayedCollection">
                    <td>{{ row.ref }}</td>
                    <td>{{ row.nombre }}</td>
                    <td>{{ row.pvp }}</td>
                    <td>{{ row.stock }}</td>
                    <td>{{ row.category.nombre }}</td>
                    <td>
                        <a ng-href="#/product/show/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a ng-href="#/product/edit/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="suplierGetIdCtrl.itemPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <div back-button></div>
</div>
