
    <li class="active">
        <a href="#/"><i class="fa fa-fw fa-home"></i> Inicio</a>
    </li>
    <li>
        <a  data-toggle="collapse" data-target="#productsOptions">
            <i class="fa fa-fw fa-archive"></i> Productos <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="productsOptions" class="collapse">
            <li>
                <a href="#/products">Listar productos</a>
            </li>
            <li>
                <a href="#/products/new">Nuevo producto</a>
            </li>
            <li>
                <a href="#/categories">Categorias</a>
            </li>
            <li>
                <a href="#/families">Familias</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#/supliers"><i class="fa fa-fw fa-truck" ></i> Proveedores</a>
    </li>
    <li>
        <a href="#/clients"><i class="fa fa-fw fa-users"></i> Clientes</a>
    </li>
    <li>
        <a data-toggle="collapse" data-target="#sellOptions">
            <i class="fa fa-fw  fa-shopping-cart"></i> Vender <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="sellOptions" class="collapse">
            <li>
                <a href="">Ticket</a>
            </li>
            <li>
                <a href="">Factura</a>
            </li>
            <li>
                <a href="">Venta</a>
            </li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" data-target="#settingsOptions">
            <i class="fa fa-fw fa-cog"></i> Opciones <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="settingsOptions" class="collapse">
            <li>
                <a href="#/options/iva">Modificar IVA</a>
            </li>

        </ul>
    </li>

    <!--<li>-->
        <!--<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>-->
    <!--</li>-->

