<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Editar Familia</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/families">Familias</a></li>
            <li class="active">{{familyEditCtrl.name}}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="familyEditCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{familyEditCtrl.message}} </i> </p>
        </div>
        <div class="col-sm-12" ng-show="familyEditCtrl.showError">
            <p class="bg-danger text-center">{{familyEditCtrl.message}}</p>
        </div>
        <div class="col-md-12">
            <form role="form" class="form-horizontal" name="newFamily" ng-submit="familyEditCtrl.submit()">

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="familia" data-toggle="tooltip"
                               data-placement="bottom" title="Nombre de la familia"
                               required ng-model="familyEditCtrl.family.nombre">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-10 col-md-offset-10">

                        <button type="reset" class="btn btn-default ">
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                            Limpiar
                        </button>

                        <button type="submit" class="btn btn-primary">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                            Enviar
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div back-button></div>
</div>