<div class="container-fluid">
    <div class="row">
      <h2 class="page-header">{{familyGetAllCtrl.title}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">Familias</li>
        </ol>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-10 col-sm-offset-9 col-xs-offset-9">
                <a class=" btn btn-primary" href="#/families/new" >Nueva Familia</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="infoDeleted" class="col-sm-12" ng-show="familyGetAllCtrl.isDeleted" >
            <p class="bg-info text-center"><i class="fa fa-info-circle"> {{familyGetAllCtrl.message}} </i> </p>
        </div>

            <div class="col-sm-12" ng-show="familyGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

        <table class="table table-striped table-condensed table-hover"
               st-table="familyGetAllCtrl.displayedCollection" st-safe-src="familyGetAllCtrl.rowCollection">
            <thead>
            <tr>
                <th st-sort="nombre">Nombre</th>

                <th>Accion</th>
            </tr>
            <tr>
                <th>
                    <input st-search="nombre" placeholder="nombre familia" class="input-sm form-control" type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <div class="col-sm-12" ng-show="familyGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

            <tr ng-repeat="row in familyGetAllCtrl.displayedCollection">

                <td>{{ row.nombre }}</td>

                <td>
                    <a ng-href="#/family/show/{{row.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a ng-href="#/family/edit/{{row.id}}" >
                        <span class="col-md-1 glyphicon glyphicon-edit"></span>
                    </a>
                    <a href ng-click="familyGetAllCtrl.remove(row,row.id)">
                        <span class="col-md-1 glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="familyGetAllCtrl.itemPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>