<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">Lista de familias</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/families">Familia</a></li>
            <li class="active">{{familyGetIdCtrl.name}}</li>
        </ol>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class=" list-group col-md-4" >
                <div class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>Nombre: </dt>
                        <dd>{{familyGetIdCtrl.family.nombre}} </dd>
                    </dl>
                </div>
                <div class="list-group-item">
                    <dl class="dl-horizontal">
                        <dt>Categorias: </dt>
                        <dd>{{familyGetIdCtrl.family.categorias.length}} </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categorias de la familia</h3>
                    </div>
                    <div class="list-group">
                        <a ng-repeat="family in familyGetIdCtrl.family.categorias"
                           class="list-group-item">
                            {{family.nombre}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>