<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">{{productEditCtrl.title}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/products">Producto</a></li>
            <li class="active">{{productEditCtrl.name}}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12" ng-show="productEditCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{productEditCtrl.message}} </i> </p>
        </div>
        <div class="col-md-12" ng-show="productEditCtrl.showError">
            <p class="bg-danger text-center text-danger">{{productEditCtrl.message}}</p>
        </div>
        <div class="col-md-12">

            <form role="form" class="form-horizontal" name="newProduct" ng-submit="productEditCtrl.submit()">

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="producto" data-toggle="tooltip" data-placement="bottom" title="Nombre del producto" required ng-model="productEditCtrl.product.nombre">
                    </div>
                    <label class="col-sm-2 control-label" >Referencia</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="referencia" data-toggle="tooltip" data-placement="bottom" title="Numero de Referencia de producto" required ng-model="productEditCtrl.product.ref">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Precio</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" class="form-control" placeholder="precio proveedor"
                               data-toggle="tooltip" data-placement="bottom" title="Precio de proveedor" required
                               ng-model="productEditCtrl.product.precioProveedor">
                    </div>
                    <label class="col-sm-2 control-label" >PVP</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" class="form-control" placeholder="precio"
                               data-toggle="tooltip" data-placement="bottom" title="Precio venta al publico" required
                               ng-model="productEditCtrl.product.pvp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Precio Proveedor + IVA</label>
                    <div class="col-sm-4">
                        {{Math.round(productEditCtrl.product.precioProveedor * productEditCtrl.iva)}}
                    </div>
                    <label class="col-sm-2 control-label" >PVP + IVA</label>
                    <div class="col-sm-4">
                        {{productEditCtrl.product.pvp * productEditCtrl.iva}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >StockMin</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="stock minimo" data-toggle="tooltip" data-placement="bottom" title="stock minimo de producto" required ng-model="productEditCtrl.product.stockMin">
                    </div>
                    <label class="col-sm-2 control-label" >Stock</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="stock" data-toggle="tooltip" data-placement="bottom" title="stock actual" required ng-model="productEditCtrl.product.stock">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Descripcion</label>
                    <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="wysiwig_simple" placeholder="descripcion del producto"
                              ng-model="productEditCtrl.product.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Categorias</h3>
                            </div>
                            <div class="list-group my-list">
                                <a href ng-repeat="category in productEditCtrl.categories" ng-click="productEditCtrl.storeCategory(category)"
                                   class="list-group-item"
                                   ng-class=" {'list-group-item-success' : category._isSelect}">
                                    {{category.nombre}}
                                    <span class="badge" ng-show="category._isSelect">
                                        <span class=" glyphicon glyphicon-ok" ></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Distribuidores</h3>
                            </div>
                            <div class="list-group my-list">
                                <a href ng-repeat="suplier in productEditCtrl.supliers" ng-click="productEditCtrl.storeSuplier(suplier)"
                                   class="list-group-item"
                                   ng-class=" {'list-group-item-success' : suplier._isSelect}">
                                    {{suplier.nombre}}
                                    <span class="badge" ng-show="suplier._isSelect">
                                        <span class=" glyphicon glyphicon-ok" ></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-10 col-md-offset-10">

                        <button type="reset" class="btn btn-default ">
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                            Limpiar
                        </button>

                        <button type="submit" class="btn btn-primary">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                            Enviar
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <div back-button></div>
</div>
