<div class="container-fluid">
    <div class="row">
            <h2 class="page-header">Lista de productos</h2>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Productos</li>
            </ol>
    </div>
    <div class="row">
        <div class="form-group">

            <div class="col-md-offset-10 col-sm-offset-9 col-xs-offset-9">
                <a class=" btn btn-primary" href="#/products/new" >Nuevo Producto</a>
            </div>
        </div>
    </div>
    <div class="row">

        <div id="infoDeleted" class="col-md-12"  ng-show="productGetAllCtrl.isDeleted">
            <p class="bg-info text-center "><i class="fa fa-info-circle"> {{productGetAllCtrl.message}} </i> </p>
        </div>


        <table class="table table-striped table-condensed table-hover"
               st-table="productGetAllCtrl.displayedCollection" st-safe-src="productGetAllCtrl.rowCollection">
            <thead>
                <tr>
                    <th st-sort="ref" >Referencia</th>
                    <th st-sort="nombre">Nombre</th>
                    <th st-sort="categoria.nombre">Categoria</th>
                    <th st-sort="proveedor.nombre">Proveedor</th>
                    <th st-sort="pvp">Precio (sin IVA)</th>
                    <th st-sort="stock">Stock</th>

                    <th>Accion</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="ref" placeholder="referencia" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="nombre" placeholder="nombre proveedor" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="categoria.nombre" placeholder="categoria" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="proveedor.nombre" placeholder="proveedor" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="pvp" placeholder="precio de venta" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="stock" placeholder="stock de producto" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
            </thead>
            <tbody>
            <div class="col-sm-12" ng-show="productGetAllCtrl.isLoading"> <img src="resources/images/devoops_getdata.gif"></div>

                <tr ng-repeat="row in productGetAllCtrl.displayedCollection">
                    <td>{{ row.ref }}</td>
                    <td>{{ row.nombre }}</td>
                    <td>{{ row.categorias[0].nombre }}</td>
                    <td>{{ row.proveedores[0].nombre }}</td>
                    <td>{{ row.pvp }}</td>
                    <td>{{ row.stock }}</td>
                    <td>
                        <a ng-href="#/product/show/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a ng-href="#/product/edit/{{row.id}}" >
                            <span class="col-md-1 glyphicon glyphicon-edit"></span>
                        </a>
                        <a href ng-click="productGetAllCtrl.remove(row,row.id)">
                            <span class="col-md-1 glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="productGetAllCtrl.itemPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>


</div>