<div class="container-fluid">
    <div class="row">
            <h2 class="page-header">{{productCreateCtrl.title}}</h2>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li><a href="#/products">Productos</a></li>
                <li class="active">Nuevo</li>
            </ol>
    </div>
    <div class="row">

        <div class="col-md-12" ng-show="productCreateCtrl.showSucces" >
            <p class="bg-success text-center text-success"><i class="fa fa-angellist"> {{productCreateCtrl.message}} </i> </p>
        </div>
        <div class="col-md-12" ng-show="productCreateCtrl.showError">
            <p class="bg-danger text-center text-danger">{{productCreateCtrl.message}}</p>
        </div>

        <div class="col-md-12">

            <form role="form" class="form-horizontal" name="newProduct"
                  ng-include="'js/templates/products/productForm.html'"
                  ng-submit="productCreateCtrl.submit()">

            </form>
        </div>
    </div>
    <div back-button></div>
</div>
