<div class="container-fluid">
    <div class="row">
        <h2 class="page-header">{{productGetIdCtrl.title}}</h2>
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/products">Producto</a></li>
            <li class="active">{{productGetIdCtrl.name}}</li>
        </ol>
    </div>

    <div class="row">
        <div class=" list-group col-md-5" >
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Referencia: </dt>
                    <dd>{{productGetIdCtrl.product.ref}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Nombre: </dt>
                    <dd>{{productGetIdCtrl.product.nombre}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Precio Proveedor: </dt>
                    <dd>{{productGetIdCtrl.product.precioProveedor}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Precio Prov + IVA: </dt>
                    <dd>{{productGetIdCtrl.product.precioProveedorIVA}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>PVP: </dt>
                    <dd>{{productGetIdCtrl.product.pvp}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>PVP + IVA: </dt>
                    <dd>{{productGetIdCtrl.product.pvpIVA}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Stock Minimo: </dt>
                    <dd>{{productGetIdCtrl.product.stockMin}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Stock: </dt>
                    <dd>{{productGetIdCtrl.product.stock}} </dd>
                </dl>
            </div>
            <div class="list-group-item">
                <dl class="dl-horizontal">
                    <dt>Descripcion: </dt>
                    <dd>{{productGetIdCtrl.product.descripcion}} </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categorias del producto</h3>
                </div>
                <div class="list-group my-short-list">
                    <a ng-repeat="category in productGetIdCtrl.product.categories"
                       class="list-group-item">
                       {{category.nombre}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Proveedores del producto</h3>
                </div>
                <div class="list-group my-short-list">
                    <a ng-repeat="suplier in productGetIdCtrl.product.supliers"
                       class="list-group-item">
                        {{suplier.nombre}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" ng-click="productGetIdCtrl.sendInfo()"  ><i class="glyphicon glyphicon-copy"></i> Duplicar</a>
    </div>
    <div back-button></div>
</div>
